---
import Base from "./Base.astro";

const { frontmatter } = Astro.props;

const post = frontmatter;

const image = (
  await Astro.glob<{ default: ImageMetadata }>(
    "../../assets/*.{jpeg,jpg,png,gif,webp}"
  )
).find((i) => {
  return (
    (i.default.src?.match(/[^\/]+\.webp/)?.at(0) ?? "").replaceAll(
      /\..+\./g,
      "."
    ) == (post.image?.match(/[^\/]+\.webp/)?.at(0) ?? "")
  );
})?.default ?? { src: "" };
---

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    for (let a of document.querySelectorAll(".markdw a")) {
      a.setAttribute("target", "_blank");
    }
  });
</script>

<Base title={frontmatter.name} description={frontmatter.description}>
  <div class="flex flex-col mt-[8vh] py-8">
    <div class="flex flex-col gap-4 w-[90%] xl:w-2/3 mx-auto text-xl">
      <!-- <div class="font-semibold bg-slate-100 dark:bg-slate-900 p-4 rounded-md">
        <a href="javascript:history.back()" class="flex items-center">
          <IconChevronLeft stroke={3} size={25} />
          Volver
        </a>
      </div> -->
      <img src={image.src} class="rounded" />
      <div class="flex flex-col gap-4 markdw text-base">
        <slot />
      </div>
    </div>
  </div>
</Base>
