@import url(react-markdown.css);
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {display:none;}