@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  height: 0.25em !important;
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-600;
}

a {
  text-underline-offset: 0.25em;
  text-decoration: underline;
  cursor: pointer;
}
