.react-markdown {
  @apply flex flex-col text-black dark:text-zinc-300 mb-20 gap-2
}

.react-markdown table {
  @apply mx-auto
}

.react-markdown pre {
  @apply w-full drop-shadow-2xl rounded-sm my-6
}

.react-markdown pre div, .react-markdown pre div code {
  background: #2A2E43 !important;
}

.react-markdown h1 {
  @apply font-bold text-3xl mt-6
}

.react-markdown h2, .react-markdown h2 a {
  @apply font-semibold text-xl mt-4
}

.react-markdown ul {
  @apply list-disc px-12 mt-4 mb-2
}

.react-markdown ol {
  @apply list-decimal px-12 mt-4 mb-2
}

.react-markdown p, li{
  @apply items-center ml-2 leading-6 text-lg tracking-wide
}

.react-markdown a {
  @apply text-sky-300
}

.react-markdown p code {
  @apply mx-1 px-1 rounded-sm bg-codeHighlight-light dark:bg-codeHighlight-dark
}

.react-markdown p:has(img) {
  @apply flex flex-col
}

.react-markdown img {
  @apply mx-auto w-10/12 lg:w-2/3 my-6
}

@font-face {
  font-family: "Hack";
  src: url('../assets/Hack-Regular.ttf');
}

.react-markdown code, .react-markdown code span {
  font-family: "Hack", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}

table,
tr,
td,
th {
  @apply border border-slate-700 p-1 px-2 mx-auto;
}

th {
  @apply font-semibold;
}